body {
	margin: 0;
	height: 100%;
}

body, .leaflet-container, input, button, select, textarea {
	font-family: 'Open Sans', serif !important;
}

#border {
	position: absolute;
	border: 1px solid #767676;
	border-radius: 2px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

	#head {
		position: absolute;
		left: 0;
		right: 0;
		padding: 3px 8px 2px 2px;
		margin-right: 3px;
		font-family: 'Bitter', serif;
	}

		.headimg {
			width:20px;
			height:20px;
		}

		#headline {
			display: inline-block;
			margin-top: 4px;
			margin-left: 2px;
		}

		input[type="text"] {
			height: 16px !important;
			width: 260px !important;
		}

		@media screen and (max-width: 420px) {

			input[type="text"] {
				width: 160px !important;
			}

		}

		@media screen and (max-width: 360px) {

			input[type="text"] {
				width: 120px !important;
			}

		}

		.search-icon {
			position:relative;
			margin-left:-22px;
			top:-8px;
			z-index:2;
		}

	#map {
		display: block;
		top: 32px;
		left: 0;
		right: 0;
		margin: 2px;
		position: absolute;
		bottom: 54px;
	}

		.leaflet-top, .leaflet-bottom {
			z-index: 1000;
		}

		path {
			fill: rgba(72, 68, 0, 0.80);
			stroke: #000;
			stroke-width: 0.5;
		}

		.map-overlay {
			color: white;
			margin-right: 10px;
			padding: 10px;
			background-color: rgba(0, 0, 0, 0.8);
		}

		.map-overlay a {
			color: #dcd510;
		}


	#foot {
		position: absolute;
		padding: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 54px;
		background: #353535;
		border-color: #202020;
	}
		#action-link {
			text-align: center;
			width: 100%;
			font-size: 12px !important;
			line-height: 12px !important;
			margin-top: 4px;
			margin-bottom: 4px;
			padding: 0 !important;
			font-family: 'Open Sans', serif !important;
			-webkit-transition-duration: 200ms;
			-webkit-transition-property: background;
			-webkit-transition-timing-function: ease-in-out;
			-moz-transition-duration: 200ms;
			-moz-transition-property: background;
			-moz-transition-timing-function: ease-in-out;
			-o-transition-duration: 200ms;
			-o-transition-property: background;
			-o-transition-timing-function: ease-in-out;
			transition-duration: 200ms;
			transition-property: background;
			border:0;
			background:#353535;
			color:#eeeeee !important;
		}

		#action-link a {
			color: #31a7dc;
		}
		#action-link a:hover {
			color: #beba00;
		}

		#progress {
			height: 4px;
			margin: 0;
			margin-bottom: 3px;
			background-color: #767676;
		}

			#indicator {
				background-color: #0480be;
				width: 0px;
				height: 4px;
				margin: 0;
			}

		#foot button {
			-webkit-transition-duration: 200ms;
			-webkit-transition-property: background;
			-webkit-transition-timing-function: ease-in-out;
			-moz-transition-duration: 200ms;
			-moz-transition-property: background;
			-moz-transition-timing-function: ease-in-out;
			-o-transition-duration: 200ms;
			-o-transition-property: background;
			-o-transition-timing-function: ease-in-out;
			transition-duration: 200ms;
			transition-property: background;
			border:0;
			font-family: FontAwesome !important;
			background:#353535;
			color:#eeeeee !important;
			margin-top: 2px;
		}

		#foot button:hover {
			background: #202020;
			color: #ffffff !important;
		}

		#foot button[disabled="disabled"] {
			color: #959595 !important;
		}
		#foot button[disabled="disabled"]:hover {
			background: #353535 !important;
		}

		#progress-text {
			color: #ffffff;
			display: inline;
			font-size: 10px;
			padding-left: 8px;
		}


#embed-overlay {
	display: none;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.7);
	overflow-y: auto;
	z-index: 10000;
}
	#embed-overlay .nav {
		margin-bottom: 0;
	}

	#embed-content {
		display: block;
		position: relative;
		width: 85%;
		background-color: #fff;
		margin: 10px auto;
		padding: 10px;
		border-radius: 6px;
		box-shadow: 0px 0px 50px -15px rgba(0, 0, 0, 0.9);
		text-align: center;
	}

	#embed-content .btn{
		width: 120px;
	}

	#tab-share {
		padding: 10px;
	}

		#tab-share .btn {
			margin: 8px;
		}

	#tab-embed{
		text-align: left;
	}

		#form-search {
			margin-bottom: 3px;
		}

		#embed-content input {
			margin-left: 8px;
		}

		#embed-content form {
			margin-bottom: 8px;
		}

		#embed-content fieldset {
			margin: 0;
			margin-top: 4px;
			margin-bottom: 4px;
		}

		#embed-content fieldset legend {
			margin-top: 8px;
			margin-bottom: 8px;
			font-size: 16px;
			line-height: 28px;
			border-bottom-style: none;
		}

		#embed-content h5 {
			margin-top: 14px;
			margin-bottom: 0px;
		}

		#embed-content code {
			display: block;
			position: relative;
			margin: 0;
			padding: 4px;
			white-space: normal;
			font-size: 11px;
			color: #444
		}



@media screen and (max-height: 380px) {

	#embed-content {
		padding-top: 2px;
		padding-bottom: 2px;
		margin: 2px auto;
	}

	#embed-content fieldset legend {
		margin: 0;
	}
	#embed-content h5 {
		margin-top: 8px;
	}
	#embed-content code {
		font-size: 11px;
		line-height: 11px;
	}

}

i.icon-arrow-up {
	animation: bobble 1.5s infinite;
}

@keyframes bobble {
	0% {
		transform: translate3d(0px, 5px, 0px);
		animation-timing-function: ease-in;
	}
	50% {
		transform: translate3d(0px, -5px, 0px);
		animation-timing-function: ease-out;
	}
	100% {
		transform: translate3d(0px, 5px, 0px);
	}
}